<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>fpcustomcode</name>
    <displayName><![CDATA[Custom JS and CSS]]></displayName>
    <version><![CDATA[0.0.1]]></version>
    <description><![CDATA[This module allows you to add custom JavaScript or CSS
        to your site.]]></description>
    <author><![CDATA[Serhii Fedorenko]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>